
<script>
  var selectedPageNumber = 1


  function hideModal() {
    $('#exampleModal').modal('hide');
  }

  $(document).ready(function() {
    $('#exampleModal').on('hidden.bs.modal', function (e) {
      // Reset the form elements when the modal is hidden
      $(this).find('form')[0].reset();
      $("#btnupdate").hide();
      $("#btnsave").show();
    });
  });

  // ADD DATA
  $("#btnsave").click(function () {
    output = "";
    let sid = $("#stuid").val(); // This is for EDIT DATA
    let nm = $("#nameid").val();
    let em = $("#emailid").val();
    let pw = $("#passwordid").val();
    let csr = $("input[name = csrfmiddlewaretoken]").val();
    if (nm == "") {
      console.log("Please Enter Name");
    } else if (em == "") {
      console.log("Please Enter Email");
    } else if (pw == "") {
      console.log("Please Enter Password");
    } else {
      mydata = {
        stuid: sid,
        name: nm,
        email: em,
        password: pw,
        csrfmiddlewaretoken: csr,
      };
      $.ajax({
        url: "{% url 'enroll:save' %}",
        method: "POST",
        data: mydata,
        success: function (data) {
          x = data.student_data;
          if (data.status == "Save") {
            $("#msg").removeClass("alert-danger")
            $("#msg").addClass("alert-primary")
            $("#msg").text("From Submitted Seccessfully");
            $("#msg").show();
            $("#msg").delay(3000).fadeOut();
            hideModal();
            $('#successToast').toast('show');

            fetchData(selectedPageNumber)

            for (i = 0; i < x.length; i++) {
              output +=
              `<tr>
                <td>${x[i].id}</td>
                <td>${x[i].name}</td>
                <td>${x[i].email}</td>
                <td>${x[i].password}</td>
                <td>
                    <input type="button" data-sid="${x[i].id}" class="btn btn-warning tn-sm btn-edit" value="Edit" />
                    <input type="button" data-sid="${x[i].id}" class="btn btn-danger tn-sm btn-del" value="Delete" />
                </td>
              </tr>`;
            }
            // document.getElementById('tbody').innerHTML = output
            // $("#tbody").html(output);

            $("#stuid").val("");
            $("form")[0].reset();
          }
          if (data.status == 0) {
            $("#msg").removeClass("alert-primary")
            $("#msg").addClass("alert-danger")
            $("#msg").text("Unable to Save Data");
            $("#msg").show();
            $("#stuid").val("");
            $("form")[0].reset();
          }
        },
      });
    }
  });

  
  // DELETE DATA
  $("tbody").on("click", ".btn-del", function () {
    let id = $(this).attr("data-sid");
    let csr = $("input[name = csrfmiddlewaretoken]").val();

    mydata = { sid: id, csrfmiddlewaretoken: csr };
    mythis = this;
    $.ajax({
      url: "{% url 'enroll:delete' %}",
      method: "POST",
      data: mydata,
      success: function (data) {

        if (data.status == 1) {
          $("#msg").addClass("alert-danger")
          $("#msg").text("Data Deleted Successfully");
          $("#msg").show();
          $(mythis).closest("tr").fadeOut();
          $("#msg").delay(3000).fadeOut();
        }
        if (data.status == 0) {
          $("#msg").addClass("alert-danger")
          $("#msg").text("Unable to Delete Data");
          $("#msg").show();
        }
      },
    });
  });

  
  // EDIT Data
  $("tbody").on("click", ".btn-edit", function () {

    let id = $(this).attr("data-sid");
    let csr = $("input[name = csrfmiddlewaretoken]").val();
    mydata = { sid: id };
    mythis = this;
    $.ajax({
      url: "{% url 'enroll:edit' %}",
      method: "GET",
      data: mydata,
      success: function (data) {
        $('#exampleModal').modal('show');
        $("#btnsave").hide();
        $("#btnupdate").show();
        $("#stuid").val(data.id);
        $("#nameid").val(data.name);
        $("#emailid").val(data.email);
        $("#passwordid").val(data.password);
      },
    });
  });

  // Handle Edit 
  $("#btnupdate").click(function () {
    output = "";
    let sid = $("#stuid").val(); // This is for EDIT DATA
    let nm = $("#nameid").val();
    let em = $("#emailid").val();
    let pw = $("#passwordid").val();
    let csr = $("input[name = csrfmiddlewaretoken]").val();
    if (nm == "") {
      console.log("Please Enter Name");
    } else if (em == "") {
      console.log("Please Enter Email");
    } else if (pw == "") {
      console.log("Please Enter Password");
    } else {
      mydata = {
        stuid: sid,
        name: nm,
        email: em,
        password: pw,
        csrfmiddlewaretoken: csr,
      };
      $.ajax({
        url: "{% url 'enroll:edit' %}",
        method: "POST",
        data: mydata,
        success: function (data) {

          if (data.status == "Updated") {
            $("#msg").removeClass("alert-danger")
            $("#msg").addClass("alert-primary")
            $("#msg").text("From Submitted Seccessfully");
            $("#msg").show();
            $("#msg").delay(3000).fadeOut();
            hideModal();

            st = data.student_data[0];
            var updatedRow =
                  `<tr id="row-${st.id}">
                    <td>${st.id}</td>
                    <td>${st.name}</td>
                    <td>${st.email}</td>
                    <td>${st.password}</td>
                    <td>
                        <input type="button" data-sid="${st.id}" class="btn btn-warning tn-sm btn-edit"
                            value="Edit" />
                        <input type="button" data-sid="${st.id}" class="btn btn-danger tn-sm btn-del"
                            value="Delete" />
                    </td>
                  </tr>`;
            let selectedRow = $(`#row-${st.id}`).closest("tr").replaceWith(updatedRow);
            
            $("#stuid").val("");
            $("form")[0].reset();
          }
          if (data.status == 0) {
            $("#msg").removeClass("alert-primary")
            $("#msg").addClass("alert-danger")
            $("#msg").text("Unable to Save Data");
            $("#msg").show();
            $("#stuid").val("");
            $("form")[0].reset();
          }

        }
      })
    }
  });

  //$("#msg").delay(5000).slideUp(200, function () {
  //  $(this).alert('close');
  //});

                  // updated
  function fetchData(page) {
      var tbody = $('#tbody');
      tbody.empty();
      $('.lds-spinner').show();

      $.ajax({
                        // updated
          url: '/fetch_data/?page=' + page,  // Replace with the URL to fetch the data from the server
          type: 'GET',
          dataType: 'json',
          success: function(response) {
              var studentData = response.student_data;

              studentData.forEach(function(st){ 
                var row = 
                `<tr id="row-${st.id}">
                  <td>${st.id}</td>
                  <td>${st.name}</td>
                  <td>${st.email}</td>
                  <td>${st.password}</td>
                  <td>
                      <input type="button" data-sid="${st.id}" class="btn btn-warning tn-sm btn-edit"
                          value="Edit" />
                      <input type="button" data-sid="${st.id}" class="btn btn-danger tn-sm btn-del"
                          value="Delete" />
                  </td>
                </tr>`;
                tbody.append(row);
                // updated
                updatePagination(page, response.total_pages);
              })


              $('.lds-spinner').hide();

          },
          error: function(xhr, status, error) {
              console.log(error);
              $('#table-container #loader').hide();
          }
      });
  }
  // updated
  fetchData(1);
</script>

<script>
  $(document).ready(function() {
    $('#pagination-container').on('click', '.page-link', function(event) {
        event.preventDefault();
        var page = $(this).text(); 
        selectedPageNumber = page
        fetchData(page);
    });
});


function updatePagination(currentPage, totalPages) {
  currentPage = parseInt(currentPage)
  var paginationContainer = $('.pagination');
  paginationContainer.empty();

  var pageRange = 2;  // Number of pages to show before and after the current page

  var startPage = Math.max(1, currentPage - pageRange);
  var endPage = Math.min(totalPages, currentPage + pageRange);

  // Add page links
  for (var i = startPage; i <= endPage; i++) {
      var pageLink = '<li class="page-item';
      if (i === currentPage) {
          pageLink += ' active';
      }
      pageLink += '"><a class="page-link" href="#">' + i + '</a></li>';
      paginationContainer.append(pageLink);
  }

}
</script>