{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" /> -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  <title>Django Ajax CRUD</title>
  <style>

  </style>
</head>

<body>
  <div class="container mt-5">
    <h2 class="text-center alert alert-danger">
      Django Ajax bootstrap CRUD Project
    </h2>


    <div class="toast" id="successToast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000"
      style="position: absolute; top: 20px; right: 20px;">
      <div class="toast-header bg-success text-white">
        <strong class="me-auto">Success</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Seccessfully done.
      </div>
    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Student
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Form</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="stuid" id="stuid" />
              {{form.as_p}}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="btnsave" class="btn btn-success">Save</button>
            <button type="button" id="btnupdate" class="btn btn-success" style="display: none;">Update</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- <div class="col-sm-4"> -->
      <!-- <h4 class="text-center alert alert-info">Add/Update Student</h4>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="stuid" id="stuid" />
                    {{form.as_p}}
                    <input type="button" value="Save" class="btn btn-success" id="btnsave" />
                </form>
                <br /> -->
      <!-- <div id="msg" class="alert" style="display: none"></div> -->
      <!-- </div> -->
      <div class="col">
        <h4 class="text-center alert alert-info">Show Student</h4>
        <div class="main-loader" id="main-loader">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="tbody">
              
            </tbody>
            <!-- <tbody id="tbody">
                        {% for st in stu %}
                        <tr>
                            <td>{{st.id}}</td>
                            <td>{{st.name}}</td>
                            <td>{{st.email}}</td>
                            <td>{{st.password}}</td>
                            <td>
                                <input type="button" data-sid="{{st.id}}" class="btn btn-warning tn-sm btn-edit"
                                    value="Edit" />
                                <input type="button" data-sid="{{st.id}}" class="btn btn-danger tn-sm btn-del"
                                    value="Delete" />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody> -->
          </table>

          <div class="lds-spinner" style="margin-left: 50%;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>

          <!-- pagination -->
          <div class="container">
            <div id="pagination-container">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                
                </ul>
              </nav>
            </div>
          </div>


          


        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  {% include "ajax.html" %}
</body>

</html>